
.label {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* .edit-fields {
    height: 3rem;
    padding: 0 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
} */
.edit-fields {
    height: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.edit-container {
    position: relative;
    width: 50vw;
    height: auto;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
}

.save-button {
    background-color: #7950f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.save-button:hover {
    background-color: #6b46e9;
}