.landing-page-container {
    max-width: 120rem;
    padding: 1.6rem 3.2rem;
    margin: 0 auto;
}

.paper {
    height: 90vh;
    padding: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project-title {
    align-self: center;
}

.project-title p:first-child {
    font-size: 6.2rem;
    font-weight: 600;
    letter-spacing: -5px;
}


.project-title p:nth-child(2) {
    font-size: 6.2rem;
    font-weight: 600;
    letter-spacing: -2px;
    color: #00b4d8;
}

.start-btn-container {
    justify-self: center;
    align-self: center;
}




.home-btn {
    display: inline-block;
    text-decoration: none;
    width: 6rem;
    height: 6rem;
    background-color: #caf0f8;
    border-radius: 50%;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.arrow-icon {
    font-size: 3.2rem;
    font-weight: 200;
    cursor: pointer;

}

.home-btn:hover {
    transform: scale(1.2);
}


.home-btn:hover .arrow-icon {
    animation: moveRight 0.1s ease-in-out;

}